<!DOCTYPE html>
<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	<title>{{item.name}}</title>
</head>
<body>
	<div class="sidebar">
		<a href="{{url_for('homepage')}}" style="font-size: 25"> Catogries</a>
	</div>
	<div class="main">
<p> {{item.description}}</p>
	</div>
	{% if button %}
	<div class="signin"> <a href="{{url_for('gdisconnect')}}"> logOut</a></div>
	{% else %}
	<div class="signin"> <a href="{{url_for('loginButton')}}"> signIn</a></div>
	{% endif %}
			<div class="main">
			{% if button %}
			 <a href="{{url_for('editItem' , item_id =item.id)}}">edit  </a>
		     <a href="{{url_for('deleteItem' , item_id =item.id)}}"> delete</a>
			{% endif %}
		</div>
</body>
</html>