<!DOCTYPE html>
<html>

<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	<title>editing {{item.name}}</title>
</head>
<body>
	<div class="sidebar"><a href="{{url_for('homepage')}}" style="font-size: 25"> Catogries</a></div>
	<div class="main">
	<p> item name : {{item.name}}</p>
	<form action="{{url_for('editItem' , item_id = item.id)}}" method="POST">
	<input type="text" name="name" placeholder="new item name"></input>
	<br>
	<br>
	<input type="text" name="description" placeholder="new item description"></input>
	<br>
	<br>
	<input type="submit" name="submit"></input>
	</form>
	</div>

</body>
</html>